{% extends "base.html" %}

{% block content %}
<form action="/welcome" method="post">
 <label>Enter a valid username</label><br>
  <input name='username' type='text' value={{username_text}}>
   <p class='error'>{{username_e}}</p>
 <label>Enter a valid password</label><br>
  <input name='password' type='password' value={{password_text}}>
   <p class='error'>{{password_e}}</p>
 <label>Please re-enter your password</label><br>
  <input name='password2' type='password' value={{password2_text}}>
   <p class="error">{{password2_e}}</p>
  <input type='submit' value="Register Now">
</form>
{% endblock %}